*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0 0;
  padding: 0 0;
}

/* Fill the whole page */

html,
body {
  min-height: 100%;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background: #000;
}

#four {
  background: #ddd;
}

/* Aperture video play button/reveal -- clip-path approach by Eric Johnson
Source: https://codepen.io/ericdjohnson/pen/bKVxem */

.video-button,
.video-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 100vw;
  height: 100vh;
}

.video-button {
  cursor: pointer;
  clip-path: polygon(20% 20%, 80% 20%, 80% 80%, 20% 80%);
  transition: 0.6s cubic-bezier(0.6, 0, 0.4, 1);
}

.video-button[data-aperture="open"] {
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
}

.video-container {
  overflow: hidden;
}

.actual-video {
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  transition: 0.6s linear;
  transform: scale(1);
}

[data-aperture="open"] .actual-video {
  transform: scale(1.2);
}

.play-button__aperture--left {
  position: absolute;
  background: rgba(98, 176, 186, 0.9);
  transition: 0.5s 0.1s cubic-bezier(0.6, 0, 0.4, 1);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  clip-path: polygon(0% 0%, 40% 0%, 40% 100%, 0% 100%);
  animation: pulse-blue 1.5s infinite;
}

[data-aperture="open"] .play-button__aperture--left {
  transition-delay: 0s;
}

[data-aperture="open"] .play-button__aperture--left {
  clip-path: polygon(0% 0%, 0% 0%, 0% 100%, 0% 100%);
}

@keyframes pulse-blue {
  0% {
    transform: scale(0.95);
  }

  70% {
    transform: scale(1);
  }

  100% {
    transform: scale(0.95);
  }
}

.play-button__aperture--top-right {
  position: absolute;
  background: rgba(255, 142, 60, 0.9);
  transition: 0.5s 0.1s cubic-bezier(0.6, 0, 0.4, 1);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  clip-path: polygon(0% 0%, 100% 0%, 100% 80%);
  animation: pulse-orange 1.5s infinite;
}

[data-aperture="open"] .play-button__aperture--top-right {
  transition-delay: 0s;
}

[data-aperture="open"] .play-button__aperture--top-right {
  clip-path: polygon(100% 0%, 100% 0%, 100% 0%);
}

@keyframes pulse-orange {
  0% {
    transform: scale(0.95);
  }

  70% {
    transform: scale(1);
  }

  100% {
    transform: scale(0.95);
  }
}

.play-button__aperture--bottom-right {
  position: absolute;
  background: rgba(217, 55, 110, 0.9);
  transition: 0.5s 0.1s cubic-bezier(0.6, 0, 0.4, 1);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  clip-path: polygon(0% 100%, 100% 100%, 100% 20%);
  animation: pulse-purple 1.5s infinite;
}

[data-aperture="open"] .play-button__aperture--bottom-right {
  transition-delay: 0s;
}

[data-aperture="open"] .play-button__aperture--bottom-right {
  clip-path: polygon(100% 100%, 100% 100%, 100% 100%);
}

@keyframes pulse-purple {
  0% {
    transform: scale(0.95);
  }

  70% {
    transform: scale(1);
  }

  100% {
    transform: scale(0.95);
  }
}

.main-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto auto;
  gap: 10px 10px;
  align-items: stretch;
  grid-template-areas:
    "video-area video-area video-area"
    "map-area map-area map-area";
}

.video-area {
  grid-area: video-area;
}

.map-area {
  grid-area: map-area;
}

.flexed {
  display: flex;
}

.aic {
  align-items: center;
}

.jce {
  justify-content: flex-end;
}

.jcc {
  justify-content: center;
}

.fxdc {
  flex-direction: column;
}

.navbar-button-name {
  padding-right: 4px;
  color: #fff;
}

/* Typewriter by Coding in Public (Chris Pennington)
Source: https://codepen.io/Coding-in-Public/pen/yLPYjrv */

.typewriter-container {
  height: 100vh;
}

[data-typewriter] {
  font-family: system-UI;
  font-weight: bold;
  font-size: 4.5rem;
  color: #d9376e;
  height: 6rem;
  border-right: 0.8rem solid transparent;
  padding: 0.6rem;
}

.your-way {
  font-family: system-UI;
  font-weight: bold;
  color: #fdfdf8;
  font-size: 4.5rem;
  height: 6rem;
  border-right: 0.8rem solid transparent;
  padding: 0.6rem;
}

.read-our-stories {
  height: 100vh;
  font-family: system-UI;
  font-weight: bold;
  color: #fdfdf8;
  font-size: 4.5rem;
  border-right: 0.8rem solid transparent;
  padding-right: 7rem;
  padding-left: 0.6rem;
  padding-top: 12.9rem;
  padding-bottom: 0.6rem;
  display: flex;
  justify-content: end;
  align-items: center;
}

#three {
  background-image: url('/images/group.webp');
  background-size: cover;
  background-position: center;
}

[data-typewriter]:not(.typing) {
  animation: blink-cursor 0.5s step-end infinite;
}

@keyframes blink-cursor {

  0%,
  100% {
    border-color: transparent;
  }

  50% {
    border-color: #ff8e3c;
  }
}

/* SVG Arrows by junjun
Source: https://codepen.io/postor/pen/vYpNYg */

.arrows {
  width: 60px;
  height: 76px;
  margin-left: -30px;
  bottom: 20px;
}

.arrows path {
  stroke: #fff;
  fill: transparent;
  stroke-width: 4px;
  animation: arrow 2s infinite;
  -webkit-animation: arrow 2s infinite;
}

@keyframes arrow {
  0% {
    opacity: 0
  }

  40% {
    opacity: 1
  }

  80% {
    opacity: 0
  }

  100% {
    opacity: 0
  }
}

/*Safari and Chrome*/
@-webkit-keyframes arrow {
  0% {
    opacity: 0
  }

  40% {
    opacity: 1
  }

  80% {
    opacity: 0
  }

  100% {
    opacity: 0
  }
}

.arrows path.a1 {
  animation-delay: -1s;
  -webkit-animation-delay: -1s; /* Safari and Chrome */
}

.arrows path.a2 {
  animation-delay: -0.5s;
  -webkit-animation-delay: -0.5s; /* Safari and Chrome */
}

.arrows path.a3 {
  animation-delay: 0s;
  -webkit-animation-delay: 0s; /* Safari and Chrome */
}

.auto-arrows {
  display: none;
}

.auto-arrows .arrows {
  position: absolute;
  left: 50%;
}